{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "minify"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [ "./src/**" ]
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
    }
  }
}
