doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no')
    meta(name='author', content='Wisebirds FrontEnd Team')
    meta(name='title', content='Welcome to Playgrounds')
    meta(name='generator', content='Wisebirds')
    meta(name='keywords', content='Playgrounds')
    meta(name='description', content='FrontEnd Team Playgrounds Boilerplate')
    meta(name='robots', content='noindex,follow')
    meta(name='apple-mobile-web-app-capable', content='no')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    title= title
    link(rel='shortcut icon', href='/images/logo.png')
    link(rel='stylesheet', href='/styles/style.css')
  body
    noscript You need to enable JavaScript to run this app.
    block content
